<div class="lottery-item">
    <div>第 {{currentLottery.issue}} 期</div>
    <div>{{currentLottery.openTime}}</div>
    <div>
        <app-ball *ngFor="let b of currentLottery.code;let i = index;" 
            [lotteryNum]="b"
            marginHor="2px"
            ballSize="40px"
            fontSize="18px"
            [color]="i % 2 == 0 ? 'red' : 'blue'">
        </app-ball> 
    </div>
    <div>
        <div class="history" (click)="playHistoryVideo(currentLottery)">
            <span>查看回放</span>
        </div>
    </div>
</div>
<!-- 播放回放视频弹窗 -->
<app-video-modal 
    [isVisible]="isVisible" 
    [issue]="currentLottery.issue"
    [openTime]="currentLottery.openTime"
    [codeList]="currentLottery.code"
    [poster]="poster"
    [videoSrc]="videoSrc"
    (closeModalFn)="closeModalFn()">
</app-video-modal>