<div class="operation">
    <div class="title">
        <h3>{{lottery}}</h3>
        <div>第{{currentIssue ? currentIssue : '-'}}期截止時間: {{endTime}}</div>
    </div>
    <div class="content">
        <div class="left-content">
            <div class="issue-top">第 {{currentIssue ? currentIssue : '-'}} 期 攪珠結果:</div>
            <div class="lottery-ball">
                <div class="add-padding">
                    <app-ball *ngFor="let b of result;let i = index;" 
                        [lotteryNum]="b"
                        marginHor="8px"
                        [color]="i % 2 == 0 ? 'red' : 'blue'">
                    </app-ball>  
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="time">
                <div>00</div>
                <div>:</div>
                <div>00</div>
                <div>:</div>
                <div>28</div>
            </div>
            <div class="last-operation">
                <div class="confirm">
                    <span>現場檢驗</span>
                </div>
                <div class="live">
                    <span>攪珠直播</span>
                </div>
                <div class="history">
                    <span class="text">過去攪珠結果</span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>
