<div class="operation">
    <div class="title">
        <div>{{lottery}}</div>
        <div>第{{nextIssue ? nextIssue : '-'}}期截止時間：{{endTime}}</div>
    </div>
    <div class="content">
        <div class="left-content">
            <div class="issue-top">第 {{currentIssue ? currentIssue : '-'}} 期 攪珠結果:</div>
            <div class="lottery-ball">
                <div class="add-padding">
                    <app-ball *ngFor="let b of result;let i = index;" [lotteryNum]="b" marginHor="8px"
                        [color]="getBallColor(b)">
                    </app-ball>
                </div>
            </div>
        </div>
        <div class="right-content">
            <div class="time">
                <div class="time-item hour">00</div>
                <div>:</div>
                <div class="time-item minute" *ngIf="!surplusTime">00</div>
                <div class="time-item minute" *ngIf="surplusTime">{{surplusTime[0]}}{{surplusTime[1]}}</div>
                <div>:</div>
                <div class="time-item second" *ngIf="!surplusTime">00</div>
                <div class="time-item second" *ngIf="surplusTime">{{surplusTime[2]}}{{surplusTime[3]}} </div>
            </div>
            <div class="last-operation">
                <div class="confirm">
                    <span>現場檢驗</span>
                </div>
                <div class="live" (click)="goPage('videos')">
                    <span>攪珠直播</span>
                </div>
                <div class="history" *ngIf="hasResultBtn" (click)="goPage('announcement')">
                    <span class="text">過去攪珠結果</span>
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>