<app-h5-page-body>
    <Navbar [icon]="icon">
        聯系我們
    </Navbar>
    <ng-template #icon>
        <Icon [type]="'left'" (click)="goback()"></Icon>
    </ng-template>
    <div class="contact">
        <div class="contact-content">
            <p>香港時時彩將竭誠為您提供最及時、最便捷、最滿意的服務。若有問題可通過以下方式與我們取得聯繫。</p>
            <div class="about-us">
                <img src="assets/images/common/email.png">
                <span>Email: hkssc@gmail.com</span>
            </div>            
        </div>
    </div>
</app-h5-page-body>