<div class="h5-contact-wrap">
    <div class="nav-bar">
        <div class="back" (click)="goback()">
            <img src="assets/images/phone/back.png" alt="">
        </div>
        <div class="title">聯繫我們</div>
        <div class="right-btn"></div>
    </div>
    <div class="contact">
        <div class="contact-content">
            <p>angular14將竭誠為您提供最及時、最便捷、最滿意的服務。若有問題可通過以下方式與我們取得聯繫。</p>
            <div class="about-us">
                <img src="assets/images/common/email.png">
                <span>Email: hkssc@gmail.com</span>
            </div>            
        </div>
    </div>
</div>