<div class="h5-lottery-list">
    <div class="list-tip">
        <span>近十期運財號碼</span>
        <img src="assets/images/phone/down.png" alt="">
    </div>
    <div class="lottery-list" *ngIf="lotteryHistory.length;else loadding">
        <div *ngFor="let item of lotteryHistory.slice(0, 10)" class="lottery-item">
            <div class="issue">第 <span class="issue-msg">{{item['expect']}}</span> 期</div>
            <div class="ball">
                <app-ball *ngFor="let b of item['code'];let i = index;" 
                    [lotteryNum]="b"
                    ballSize="0.86rem"
                    [color]="i % 2 == 0 ? 'red' : 'blue'"
                    fontWeight="normal"
                    fontSize="0.46rem">
                </app-ball>
                <div class="history-video" (click)="changeModal(item)">
                    <img src="assets/images/common/live_ico.png" alt="video">
                </div>
            </div>
        </div>
    </div>
    <ng-template #loadding>
        <div class="loadding">
            <nz-spin nzSimple nzTip="加載中..."></nz-spin>
        </div>
    </ng-template>
</div>
