:host ::ng-deep .my-drawer {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

:host ::ng-deep .my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
}

.sidebar-wrap {
    .sidebar {
        overflow: hidden;
        height: 100vh;
        box-sizing: border-box;
    }
    .content {
        padding-top: 1.41rem;
    }
    .side-item {
        height: 1.57rem;
        border-bottom: 1px solid #12335c;
        display: flex;
        align-items: center;
        &:first-child div {
            height: 0.54rem;
        }
        div {
            width: 0.81rem;
            height: 0.68rem;
            margin: 0px 0.22rem;
            text-align: center;
        }
        img {
            height: 100%;
        }
        span {
            color: #74bbfb;
            font-size: 0.46rem;
            font-weight: bold;
        }
    }
}