<div class="search-operation">
    <div class="left-title">{{lotteryName}} 開獎公告</div>
    <div class="right-operation">
        <nz-radio-group [(ngModel)]="radioValue" class="group">
            <label nz-radio nzValue="1">
                <div class="date-search">
                    <span>依據日期查詢&nbsp;</span>
                    <nz-date-picker class="date-picker" [(ngModel)]="startDate" (ngModelChange)="onChange($event)"></nz-date-picker>
                    <span>&nbsp;至&nbsp;</span>
                    <nz-date-picker class="date-picker" [(ngModel)]="endDate" (ngModelChange)="onChange($event)"></nz-date-picker>
                    <span>&nbsp;(每次最多可搜尋3個月)</span>
                </div>
            </label>
            <label nz-radio nzValue="2">
                <div class="no-search">
                    <span>輸入期號查詢&nbsp;</span>
                    <input class="issue-input" nz-input placeholder="期號查詢" [(ngModel)]="issueNo" />
                </div>
            </label>
        </nz-radio-group>
        <div class="search">搜尋</div>
    </div>
</div>
