.banner {
    width: 100%;
    height: calc(var(--max-width) / 3.43);
    position: relative;
    // padding-top: 10px;
    background-color: #eee;

    .small-banner {
        width: calc(var(--max-width) * 0.145);
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        padding: 0 7px;

        .small-item {
            cursor: pointer;
            img {
                border: 1px solid #fff;
                border-radius: 2px;
                width: 100%;
            }
            .actived-img {
                border: 1px solid yellow;
            }
        }
    }

    .default-banner {
        height: 100%;
        width: 100%;
        // flex: 1;
        overflow: hidden;
        .default-img {
            width: 100%;
            height: 100%;
            -webkit-user-drag: none;
        }
    }
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    .custom-dot {
        margin: 0 4px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: inline-block;
        background-color: #fff;
    }
    .actived-dot {
        background-color: red;
    }
}