<app-h5-nav-tab></app-h5-nav-tab>
<TabBar [hidden]="hidden"
  [barTintColor]="'var(--color-blue)'" 
  [tintColor]="tintColor" 
  [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex" 
  [unselectedTintColor]="unselectedTintColor" 
  [tabBarPosition]="'bottom'"
  (onPress)="tabBarTabOnPress($event)">
  <TabBarItem title="首頁" [key]="'1'" [icon]="icon" [selectedIcon]="icon">
    <!-- <app-h5-page-refresh (upRefresh)="upRefresh()" (downRefresh)="downRefresh()"></app-h5-page-refresh> -->
    <app-h5-page-body>
      <app-h5home [selectedIndex]="selectedIndex"></app-h5home>
    </app-h5-page-body>
  </TabBarItem>
  <TabBarItem title="開獎公告" [key]="'2'" [icon]="icon" [selectedIcon]="icon">
    <app-h5-page-body>
      <app-h5announcement [selectedIndex]="selectedIndex"></app-h5announcement>
    </app-h5-page-body>
  </TabBarItem>
  <TabBarItem title="開獎視頻" [key]="'3'" [icon]="icon" [selectedIcon]="icon">
    <app-h5-page-body>
      <app-h5videos [selectedIndex]="selectedIndex"></app-h5videos>
    </app-h5-page-body>
  </TabBarItem>
  <TabBarItem title="玩法規則" [key]="'4'" [icon]="icon" [selectedIcon]="icon">
    <app-h5-page-body>
      <app-h5rules></app-h5rules>
    </app-h5-page-body>
  </TabBarItem>
</TabBar>
<ng-template #icon>
  <div></div>
</ng-template>
<app-h5-video-modal [openModal]="openModal"
  [modalSrc]="videoItem.src"
  [vid]="videoItem.videoId ? videoItem.videoId : videoItem.id"
  (changeModalFn)="changeModal()">
</app-h5-video-modal>
