<app-h5-nav-tab></app-h5-nav-tab>
<TabBar [hidden]="hidden"
  [barTintColor]="'var(--color-blue)'" 
  [tintColor]="tintColor" 
  [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex" 
  [unselectedTintColor]="unselectedTintColor" 
  [tabBarPosition]="'bottom'"
  (onPress)="tabBarTabOnPress($event)">
  <TabBarItem title="首頁" [key]="'1'" [icon]="icon" [selectedIcon]="icon">
    <div style="background-color: white; height: 100%; text-align: center">
      <div style="padding-top: 60px">Clicked Life tab， show Life information</div>
    </div>
  </TabBarItem>
  <TabBarItem title="開獎公告" [key]="'2'" [icon]="icon" [selectedIcon]="icon">
    <div style="background-color: white; height: 100%; text-align: center">
      <div style="padding-top: 60px">Clicked Koubei tab， show Koubei information</div>
    </div>
  </TabBarItem>
  <TabBarItem title="開獎視頻" [key]="'3'" [icon]="icon" [selectedIcon]="icon">
    <div style="background-color: white; height: 100%; text-align: center">
      <div style="padding-top: 60px">Clicked Friend tab， show Friend information</div>
    </div>
  </TabBarItem>
  <TabBarItem title="玩法規則" [key]="'4'" [icon]="icon" [selectedIcon]="icon">
    <div style="background-color: white; height: 100%; text-align: center">
      <div style="padding-top: 60px">Clicked My tab， show My information</div>
    </div>
  </TabBarItem>
</TabBar>
<ng-template #icon>
  <div></div>
</ng-template>