<app-h5-nav-tab></app-h5-nav-tab>
<TabBar [hidden]="hidden"
  [barTintColor]="'var(--color-blue)'" 
  [tintColor]="tintColor" 
  [ngStyle]="tabbarStyle"
  [activeTab]="selectedIndex" 
  [unselectedTintColor]="unselectedTintColor" 
  [tabBarPosition]="'bottom'"
  (onPress)="tabBarTabOnPress($event)">
  <TabBarItem title="首頁" [key]="'1'" [icon]="icon" [selectedIcon]="icon">
    <app-h5home></app-h5home>
  </TabBarItem>
  <TabBarItem title="開獎公告" [key]="'2'" [icon]="icon" [selectedIcon]="icon">
    <app-h5announcement></app-h5announcement>
  </TabBarItem>
  <TabBarItem title="開獎視頻" [key]="'3'" [icon]="icon" [selectedIcon]="icon">
    <app-h5videos></app-h5videos>
  </TabBarItem>
  <TabBarItem title="玩法規則" [key]="'4'" [icon]="icon" [selectedIcon]="icon">
    <app-h5rules></app-h5rules>
  </TabBarItem>
</TabBar>
<ng-template #icon>
  <div></div>
</ng-template>