:host ::ng-deep .am-tab-bar-bar {
    height: var(--h5bar-height);
}

:host ::ng-deep .am-tab-bar-bar .am-tab-bar-tab-title {
    font-size: 0.43rem;
    font-weight: bold;
}

:host ::ng-deep .am-tab-bar-bar::before {
    background-color: transparent!important;
}