.h5-nav-tab {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: var(--h5nav-height);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    background-color: #fff;
    z-index: 9999;

    .logo {
        height: 100%;
        padding-left: 0.14rem;
        display: flex;
        align-items: center;
        img {
            height: 90%;
        }
    }

    .operation {
        width: 1.14rem;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 0.11rem;
        img {
            height: 64%;
        }
    }
}