@import './normalize.css';

/* :root 获取根元素html */
/* --相当于声明了一个全局变量, 用var(--)来使用该属性 */
:root {
    --color-pc-theme: #08284e;
    --color-h5-theme: #2256a1;
    --color-border-bg: #e8e8e8;
    --color-border: #ddd;
	--color-red: #d14033;
    --color-blue: #003b7f;
    --color-h5-blue: #0d2644;
    --max-width: 1020px;
    --min-width: 720px;
    --color-bg-top: #e9f3fc;
    --color-bg-bottom: #fff;
    --color-pagiation: #105aaf;
}

* {
    touch-action: none;
}

div, ul, li, p, span {
	font-size: 12px;
}

ul, li, p {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

.divide {
    height: 8px;
    background-color: #f5f5f5;
}

a {
    text-decoration: none;
    color: #333;
    /* display: inline-block; */
}

.deep-linear-color {
    background-image: linear-gradient(to right, #f77505, red);
}

.bottom-line {
    text-align: center;
    font-size: 12px;
    color: #ddd;
    margin: 10px 0;
}