.pagination-wrap {
    margin-top: 15px;
    margin-bottom: 30px;

}

$pagation-bg: var(--color-pagiation);

:host ::ng-deep .ant-pagination-prev,
:host ::ng-deep .ant-pagination-next {
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    width: 50px
}
:host ::ng-deep .ant-pagination-prev:hover,
:host ::ng-deep .ant-pagination-next:hover,
:host ::ng-deep .ant-pagination-item:hover  {
    border-color: $pagation-bg;
    transition: all 0.3s;
    background-color: $pagation-bg;
    a {
        color: #fff;
    }
}
:host ::ng-deep .ant-pagination-item-active {
    background: $pagation-bg;
    border-color: $pagation-bg;
    a {
        color: #fff;
    }
}
:host ::ng-deep .ant-pagination-disabled, 
:host ::ng-deep .ant-pagination-disabled:hover {
    border: 1px solid #d9d9d9;
    background-color: #fff;
    a {
        cursor: not-allowed;
        color: #d9d9d9;
    }
}
