<div class="pc-bottom-nav">
    <div class="content">
        <div class="left-msg">
            <img src="assets/images/common/rgp_ico.png" alt="">
            <span class="tips-left">有節制購彩</span>
            <div class="tips">
               <p>未滿十八歲人士不得投注或進入可投注的地方</p>
               <p>博彩要有節制 請遵守當地法律 切勿沉迷賭博</p>
            </div>
        </div>
        <div class="right-msg">
            <div class="twitter">
                <img src="assets/images/common/f_t.png" alt="">
            </div>
            <div>
                版權所有 不得轉載 Copyright © 2006-2022 angular14獎券有限公司
            </div>
        </div>
    </div>
</div>
