<div class="pc-bottom-nav">
    <div class="content">
        <div class="left-msg">
            <img src="assets/images/common/rgp_ico.png" alt="">
            <span class="tips-left"></span>
            <div class="tips">
               <p></p>
            </div>
        </div>
        <div class="right-msg">
            <div class="twitter">
                <img src="assets/images/common/f_t.png" alt="">
            </div>
            <div>
                版權所有 不得轉載 Copyright © 2006-2022 angular14
            </div>
        </div>
    </div>
</div>
