<div class="video-wrap" [ngStyle]="{'width': width}">
    <div class="mp4" [ngStyle]="{'height': height}">
        <!-- <video [poster]="poster" class="video-content"
            [ngClass]="videoClass"
            [controls]="played"
            controlslist="nodownload nofullscreen noremoteplayback"
            loop="true"
            x5-playsinline="true"
            x5-video-player-type="h5-page"
            webkit-playsinline="true"
            playsinline="true"
            currentTime="100"
            muted>
            <source [src]="videoSrc" type="video/mp4">
        </video>   -->
        <div class="video-content"></div>
        <div class="play-btn" (click)="showVideo()">
            <img src="assets/images/background/play_bt.png" alt="">
        </div>
    </div>
    <div class="video-msg">
        <span>angular14 第 </span>
        <span class="issue">{{issue}}</span>
        <span> 期 開獎視頻</span>
    </div>
</div>
<!-- 播放回放视频弹窗 -->
<app-video-modal 
    [isVisible]="isVisible" 
    [issue]="issue"
    [openTime]="openTime"
    [codeList]="code"
    [poster]="poster"
    [videoSrc]="videoSrc"
    (closeModalFn)="closeModalFn()">
</app-video-modal>