.video-wrap {
    display: inline-block;

    .video-content {
        width: 100%;
        height: 100%;
        background-image: url('/assets/images/background/play_bg.jpg');
    }

    .mp4 {
        position: relative;
        background-color: #f1f1f1;
    }

    .play-btn {
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .video-msg {
        background-color: #f1f1f1;
        padding: 6px 0 12px 0;
        text-align: center;
        span {
            font-size: 14px;
        }
        .issue {
            color: var(--color-red);
        }
    }
}