.pc-home {
    margin: auto;
    width: var(--max-width);
}

.dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    .custom-dot {
        margin: 0 4px;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        display: inline-block;
        background-color: #fff;
    }
    .actived-dot {
        background-color: red;
    }
}

nz-radio-group {
    margin-bottom: 8px;
}

[nz-carousel-content] {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    color: #fff;
    overflow: hidden;
}