<div class="h5-home">
  <div class="banner">
    <Carousel
      [infinite]="true"
      [vertical]="false"
      [selectedIndex]="1"
      (beforeChange)="beforeChange($event)"
      (afterChange)="afterChange($event)"
      [dots]="true"
      [autoplay]="true">
      <CarouselSlide>
        <div [ngStyle]="{ height: state.imgHeight }">
          <img class="banner-img" src="assets/images/phone/banner.jpg"/>
        </div>
      </CarouselSlide>
      <CarouselSlide>
        <div [ngStyle]="{ height: state.imgHeight }">
          <img class="banner-img" src="assets/images/phone/banner.jpg"/>
        </div>
      </CarouselSlide>
    </Carousel>
  </div>
  <app-home-issue-model [surplusTime]="hoverLists" [issue]="issue" [nextIssue]="nextIssue" [codeList]="currentResult" [endTime]="endTime"></app-home-issue-model>
  <app-h5-lottery-list [lotteryHistory]="openCodeList"></app-h5-lottery-list>
</div>
    
