.ball {
    display: inline-block;
    .common{
        display: inline-block;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .red {
        background: url(../../../assets/images/common/ball_red.png) no-repeat 100%/100%;
    }
    .blue {
        background: url(../../../assets/images/common/ball_blue.png) no-repeat 100%/100%;
    }
    span {
        // margin-bottom: 5px;
        margin-left: 2%;
        margin-bottom: 4%;
    }
    @media screen and (max-width: 500px) {
        span {
            // margin-bottom: 0.08rem;
            margin-bottom: 0;
        } 
    }
}