:host ::ng-deep .am-modal-transparent .am-modal-content {
    padding: 0;
}
:host ::ng-deep .am-modal-transparent .am-modal-content .am-modal-body {
    padding: 0;
}
:host ::ng-deep .am-modal-header {
    padding: 0.27rem;
}
:host ::ng-deep .am-modal-transparent {
    width: 100%;
    margin: 0 0.14rem;
}

.modal-title {
    .title-msg {
        display: flex;
        .issue {
            color: #e61e1e;
        }
        .tag {
            background-color: #e61e1e;
            color: #fff;
            padding: 0.05rem 0.22rem;
            border-radius: 0.11rem;
            margin-left: 0.14rem;
        }
        div:last-child {
            width: 0.32rem;
            position: absolute;
            right: 0.27rem;
            top: 0.14rem;
            img {
                width: 100%;
            }
        }
    }
    .open-time {
        text-align: left;
        color: #999;
        padding-top: 0.08rem;
    }
    .issue-msg {
        display: flex;
        align-items: center;
    }
}

.video-play {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #000;
    .h5-video-player {
        width: 100%;
    }
    .play-btn {
        position: absolute;
        width: 15%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        img {
            width: 100%;
            height: 100%;
        }
    }
}
