<Modal [(ngModel)]="openModal" 
    [transparent]="true"
    [title]="modalTitle"
    [maskClosable]="true"
    (onClose)="changeModal()">
    <div class="video-play">
        <video
            class="h5-video-player"
            [ngClass]="modalClassName"
            controls
            controlslist="nodownload nofullscreen noremoteplayback"
            loop="true"
            x5-playsinline="true"
            x5-video-player-type="h5-page"
            webkit-playsinline="true"
            playsinline="true"
            currentTime="100"
            [src]="modalSrc"
            muted>
            <p>Your browser doesn't support HTML5 video.</p>
        </video>
        <div [hidden]="this.playing" class="play-btn" (click)="playVideo()">
            <img src="assets/images/background/play_bt.png" alt="">
        </div>
    </div>
</Modal>
<ng-template #modalTitle>
    <div class="modal-title">
        <div class="title-msg">
            <div>香港時時彩 第 <span class="issue">{{issue}}</span> 期 <span class="tag">回放</span></div>
            <div>
                <img src="assets/images/common/close_bt.png" alt="">
            </div>
        </div>
        <div class="open-time">{{openTime}}</div>
        <div class="issue-msg">
            <div>攪珠結果:&nbsp;&nbsp;&nbsp;</div>
            <div>
                <app-ball *ngFor="let b of codeList;let i = index;" 
                    [lotteryNum]="b"
                    ballSize="32px"
                    fontSize="15px"
                    [color]="i % 2 == 0 ? 'red' : 'blue'">
                </app-ball> 
            </div>
        </div>
    </div>
</ng-template>
