
.video-wrap {
    border-radius: 0 0 2px 2px;
    overflow: hidden;

    .video-content {
        width: 100%;
        height: 100%;
    }

    .mp4 {
        position: relative;
        background-color: #000;
        width: 570px;
        height: 320.5px;
    }

    .play-btn {
        cursor: pointer;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 60px;
        height: 60px;
        img {
            width: 100%;
            height: 100%;
        }
    }
}
.top-msg {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    .left-msg {
        .tag {
            padding: 2px 8px 3px;
            color: #fff;
            background: #e61e1e;
            border-radius: 4px;
            margin-left: 8px;
        }
        p {
            font-size: 14px;
            &:last-child {
                font-size: 12px;
                padding-top: 3px;
                color: #999;
            }
        }
    }
    .ball-msg {
        white-space: nowrap;
        display: flex;
        align-items: center;
    }
    .close-msg {
        width: 14px;
        height: 50px;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
}

:host ::ng-deep .ng-star-inserted {
    height: 320.5px;
}