<app-h5-page-body>
    <div class="h5-videos-wrap">
        <div class="top-video">
            <video
                class="h5-video-player"
                controls
                controlslist="nodownload nofullscreen noremoteplayback"
                loop="true"
                x5-playsinline="true"
                x5-video-player-type="h5-page"
                webkit-playsinline="true"
                playsinline="true"
                currentTime="100"
                muted>
                <source [src]="videoSrc" type="video/mp4">
                <p>Your browser doesn't support HTML5 video.</p>
            </video>
            <div class="play-btn">
                <img src="assets/images/background/play_bt.png" alt="">
            </div>
        </div>
        <div class="search">
            <app-h5-search-operation (searchEvent)="searchEvent($event)"></app-h5-search-operation>
        </div>
        <div class="videos-list">
            <div class="list-tip-wrap">
                <div class="list-tip">
                    <span>開獎視頻列表</span>
                    <img src="assets/images/phone/down.png" alt="">
                </div>
            </div>
            <div class="videos-content">
                <div class="videos-item" *ngFor="let item of videoList">
                    <div class="video-content">
                        <img [src]="poster" alt="">
                        <div class="play-btn" (click)="changeModal(item)">
                            <img src="assets/images/background/play_bt.png" alt="">
                        </div>
                    </div>
                    <div class="video-msg">
                        第 <span class="issue">{{item.issue}}</span> 期 開獎視頻
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-h5-video-modal [openModal]="openModal"
        [modalSrc]="modalSrc"
        [vid]="modalVId"
        (changeModalFn)="changeModal()">
    </app-h5-video-modal>
</app-h5-page-body>