.rules {
    margin: auto;
    overflow: hidden;
    .nav {
        background-color: var(--color-h5-theme);
        margin-top: 0.22rem;
        display: flex;
        align-items: center;
        justify-content: space-around;
        div {
            color: #fff;
            border-bottom: 0.08rem solid #093b82;
            font-weight: bold;
            line-height: 0.68rem;
            flex: 1;
            text-align: center;
        }
        .actived {
            border-bottom-color: #4f9bd5;
        }
    }

    .content {
        text-align: left;
        padding: 0 0.14rem;
    }
    .introduce {
        p {
            &:nth-child(odd) {
                margin-top: 0.27rem;
                font-weight: bold;
            }
        }
    }
    .game {
        p {
            &:nth-child(1) {
                margin-top: 0.27rem;
                margin-bottom: 0.27rem;
                font-weight: bold;
            }
        }
    }
    .ticket {
        p {
            &:nth-child(1),
            &:nth-child(2),
            &:nth-child(3),
            &:nth-child(4),
            &:nth-child(5) {
                font-weight: bold;
            }
            &:nth-child(1) {
                margin-top: 0.27rem;
            }
            &:nth-child(5) {
                margin-bottom: 0.27rem;
            }
        }
    }
}