<div class="lottery-wrap">
    <div class="lottery-list">
        <div class="header">
            <div class="issue-item">攪珠期數</div>
            <div class="time-item">攪珠時間</div>
            <div class="num-item">運財號碼</div>
            <div class="video-item">攪珠回放</div>
        </div>
        <div class="content">
            <app-lottery-item *ngFor="let item of lotteryHistory" [currentLottery]="item"></app-lottery-item>
        </div>
        <div class="pagiation" *ngIf="hasMore">
            <app-pagination [nzTotal]="nzTotal" [nzPageIndex]="nzPageIndex" (pageIndexChange)="pageIndexChange($event)"></app-pagination>
        </div>
    </div>
</div>
